<p>Are you sure you want to delete "{{ item }}" ?</p>
<a href="{% url 'list'%}">Cancel</a>

<form action="" method="post" class="form">
    {% csrf_token%}
    <input class="input" type="submit" name="Confirm">
</form>
<style>
body{
  background-color: #565e49;
}
   input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}
input.input{
    padding: 5px 20px;
    margin-top: 20px;}


a:-webkit-any-link{
    border: solid 2px;
    padding: 5px 20px;
    text-decoration: none;  
    color: black;
    font-size: 20px;
}
p{
    font-family: Arial;
    font-size:  30px;
}

</style>

